$color-white:#FFFFFF;
$color-blue-light:#3567b3;
$color-blue:#264a80;
$color-orange-light:#f9903b;
$color-orange:#dd7520;
$color-gray-light:#ececec;
$color-gray:#505050;
$color-gray-btn:#9a9a9a;
$colo-separateur:#d6d6d6;

$font-weight-light:300;
$font-weight-bold:600;


$height:80;


$default-h1-size:20;
$default-h2-size:18;
$default-h3-size:16;
//$default-h4-size:20;
//$default-h5-size:18;
$default-text-size:14;
$default-sub-text-size:12;
$default-footnotes-size:10;